@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.mapboxgl-popup {
  z-index: 1000 !important; /* Ensure popup appears above other elements */
  opacity: 1 !important; /* Ensure it is visible */
}

.mapboxgl-popup-content {
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
}

