/**************************/
/******** elements ********/
/**************************/

:root {
    --main-color-light: #E8F1E7;
    --main-color-dark: #223B34;
}

html, body {
    background-color: var(--main-color-light);
    color: var(--main-color-dark);
    height: 100%;
    width: 100%;
}

input {
    background-color: white;
    border: 4px solid;
    border-color: var(--main-color-dark);
    border-radius: 32px;
}

input:hover {
    box-shadow: 0 0 6px var(--main-color-dark);
}

input:focus {
    outline: none;
    box-shadow: 0 0 16px var(--main-color-dark);
}

/***************************/
/********* classes *********/
/***************************/

.light_button {
    border-radius: 32px;
    background-color: var(--main-color-light);
    color: var(--main-color-dark);
}

.light_button:hover {
    box-shadow: 0 0 8px var(--main-color-light);
}

.dark_button {
    border-radius: 32px;
    background-color: var(--main-color-dark);
    color: var(--main-color-light);
}

.dark_button:hover {
    box-shadow: 0 0 8px var(--main-color-dark);
}

.content_background {
    background-color: var(--main-color-dark);
    color: white;
    border-radius: 16px;
}

.menu {
    background-color: var(--main-color-dark);
    color: white;
    transition: all 0.3s ease;
    z-index: 999;
    box-shadow: 0 0 16px var(--main-color-dark);
}

.menu_button {
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 99999;
    background-color: var(--main-color-dark);
    color: var(--main-color-light);
}

.menu_button:hover {
    box-shadow: 0 0 8px var(--main-color-dark);
}

.menu_item {
    text-decoration: none;
    font-size: 1.2rem;
    display: block;
    border-radius: 12px;
    opacity: 0.67;
}

