:root {
    --main-color-light: #E8F1E7;
    --main-color-dark: #223B34;
    --main-animation-time: 0.175s;
    --z-top: 999;
}

html, body {
    background-color: var(--main-color-light);
    color: var(--main-color-dark);
    height: 100%;
    width: 100%;
}

sup {
    top: -7px;
    font-size: 12px;
}

.ext_main_container {
    height: 100%;
    width: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    white-space: nowrap;
}

.ext_greeting {
    display: flex;
    flex-direction:column;
    justify-content: start;
    text-align: left;
    align-items: start;
    margin: 0;
    margin-bottom: 32px;
}

.ext_greeting_title {
    font-size: 56px;
    font-weight: bold;
}

.ext_greeting_subtitle {
    font-size: 20px;
    font-weight: bold;
}

.ext_auth_container {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-radius: 32px;
}

.ext_auth_form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 64px;
    margin: 32px;
    gap: 48px;
}

.ext_auth_submit_button {
    width: 100%;
    height: auto;
    padding: 16px;
    margin-top: 24px;
}

.ext_field_section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 8px;
}

.ext_field_label {
    font-size: 16px;
    font-weight: bold;
}

.ext_field_entry {
    width: 100%;
    border: 2px solid;
    border-radius: 32px;
    padding: 16px;
}

.ext_auth_error {
    color: red;
}

.ext_auth_context_switcher {
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-bottom: 64px;
}

.int_main_container {
    padding: 16px;
    padding-top: 0;
}

.int_title {
    font-size: 36px;
    font-weight: bold;
}

.int_subtitle {
    font-size: 20px;
    font-weight: bold;
}

.int_label {
    font-size: 16px;
    font-weight: bold;
}

.map_section {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.map_buttons_section {
    width: 100%;
    height: 28px;
    display: flex;
    flex-direction: row;
    gap: 1;
    margin-bottom: 4px;
    white-space: nowrap;
}

.map_menu_section {
    min-width: 196px;
    width: 10%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.map_menu {
    background-color: var(--main-color-dark);
    color: var(--main-color-light);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 16px;
    padding: 16px;
    text-align: left;
}

.map_menu_title {
    font-weight: bold;
    font-size: 24px;
}

.map_menu_content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right: 12px;
    margin-right: -12px;
}

.map_menu_item_active {
    background-color: var(--main-color-light);
    color: var(--main-color-dark);
    border-radius: 16px;
}

.map_menu_item_inactive {
    background-color: var(--main-color-light);
    color: var(--main-color-dark);
    border-radius: 16px;
    opacity: 0.67;
}


/********* inputs *********/


input {
    background-color: white;
    border: 2px solid;
    border-color: var(--main-color-dark);
    border-radius: 32px;
    transition: var(--main-animation-time);
}

input:hover {
    box-shadow: 0 0 4px var(--main-color-dark);
}

input:not(:hover) {
    box-shadow: none;
}

input:focus {
    box-shadow: 0 0 16px var(--main-color-dark);
    outline: none;
}

input:not(:focus) {
    box-shadow: none;
}


/********* buttons *********/


.light_button, .dark_button, .light_button_mini, .dark_button_mini {
    border-radius: 32px;
    transition: var(--main-animation-time);
}

.light_button {
    background-color: var(--main-color-light);
    color: var(--main-color-dark);
}

.dark_button_without_background {
    color: var(--main-color-dark);
    text-decoration: underline;
    font-size: 16px;
}

.dark_button {
    background-color: var(--main-color-dark);
    color: var(--main-color-light);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.light_button_mini, .dark_button_mini {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: middle;
    font-size: 12px;
    text-align: center;
    width: auto;
    height: auto;
    padding: 2px 8px;
}

.light_button_mini {
    background-color: var(--main-color-light);
    color: var(--main-color-dark);
}

.dark_button_mini {
    background-color: var(--main-color-dark);
    color: var(--main-color-light);
}

.dark_button:hover, .dark_button_mini:hover, .light_button:hover, .light_button_mini:hover {
    box-shadow: 0 0 8px var(--main-color-dark);
}

.dark_button:not(:hover), .dark_button_mini:not(:hover), .light_button:not(:hover), .light_button_mini:not(:hover) {
    box-shadow: none;
}


/*********** menu ***********/


.menu {
    z-index: var(--z-top);
    background-color: white;
    color: var(--main-color-dark);
    box-shadow: 0 0 16px var(--main-color-dark);
    transition: var(--main-animation-time);
    overflow: scroll;
}

.menu_button {
    transition: var(--main-animation-time);
    background-color: white;
    color: var(--main-color-dark);
    transition: var(--main-animation-time);
}

.menu_button:hover {
    box-shadow: 0 0 8px var(--main-color-dark);
}

.menu_button:not(:hover) {
    box-shadow: none;
}

.menu_close_button {
    background-color: var(--main-color-light);
    color: var(--main-color-dark);
    box-shadow: 0 0 16px var(--main-color-light);
    transition: var(--main-animation-time);
}

.menu_close_button:hover {
    box-shadow: 0 0 8px var(--main-color-dark);
}

.menu_close_button:not(:hover) {
    box-shadow: none;
}

.menu_item {
    border-radius: 12px;
}


/******** backgrounds ********/


.content_background, #map {
    background-color: var(--main-color-dark);
    color: white;
    border-radius: 16px;
}

